{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Регистрация в личный кабинет</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group d-flex">
                <button class="btn registration d-none" type="submit">Зарегистрироваться</button>
                <button class="btn next-btn" type="button" onclick="showForm()">Продолжить</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Уже есть аккаунт? <a class="ml-1" href="{% url 'login' %}">Войти</a>
            </small>
        </div>
    </div>
    <script src="{% static 'main/app.js' %}"></script>
{% endblock %}
