{% extends "main/base.html" %}
{% load static %}
{% block content %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'main/home.css' %}">
    {% endblock %}
    <div class="main d-flex flex-column align-items-center">
        {% if user.is_authenticated %}
            <h2 class="title">Главная</h2>
            <a class="nav-item nav-link profile-link" href="{% url 'profile' %}">Профиль</a>
            <a class="nav-item nav-link logout-link" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <h2 class="title">Вход в личный кабинет</h2>
            <a class="nav-item nav-link top-link" href="{% url 'login' %}">Войти</a>
            <a class="nav-item nav-link bottom-link" href="{% url 'registration' %}">Стать клиентом</a>
        {% endif %}
    </div>
{% endblock %}
